.root {
  margin-top: 70px;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 35px;
      line-height: 33px;
      height: 35px;
      border: 1px solid #ff6767;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      color: #ff6767;
      display: inline-block;
      &:hover {
        background-color: #ff6767;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #ff6767;
        color: #fff;
      }
    }
  }
}
