.send {
  border: 1px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #282828;
    color: #fff;
  }

  &:active {
    background-color: #282828;
    color: #fff;
  }
}
.reg {
  &__input {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 20px;
    font-size: 17px;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    &--btn {
      border: 1px;
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: #282828;
        color: #fff;
      }

      &:active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
