.main {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.main span {
  font-size: 16px;
}
.main * {
  margin-right: 15px;
}
.reportHandler iframe {
  min-height: 500px;
  min-width: 500px;
}
