.authButton {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  &--btn {
    border: 1px;
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: #282828;
      color: #fff;
    }

    &:active {
      background-color: #282828;
      color: #fff;
    }
  }
}
